//
//  DebugConfig.xcconfig
//  swift
//
//  Created by 7x on 2023/12/14.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
NET_API_URL = api-testing.speedmangame.com;
// 加密key
PSW_AES_KEY = FN47f0xDEEH3XtWrt50HbyH4yWzfJF9J;
// 签名key
PSW_SIGN_KEY = MPZR8TpiE8GdaCWFEi7Yi2N89yWnWAen;

#include "Pods/Target Support Files/Pods-SpeedMan/Pods-SpeedMan.debug.xcconfig"
#include "CommonConfig.xcconfig"
