<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>347205054411-8tdbhv19d4f70b7l5b4b28gi11aarh5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.347205054411-8tdbhv19d4f70b7l5b4b28gi11aarh5l</string>
	<key>API_KEY</key>
	<string>AIzaSyCZOjJxIhEgq1IMGUxD3hPiSFGjhzkNo74</string>
	<key>GCM_SENDER_ID</key>
	<string>347205054411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.speedman.go</string>
	<key>PROJECT_ID</key>
	<string>speedman-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>speedman-ios.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:347205054411:ios:272daf2024b72cf02f504e</string>
</dict>
</plist>